.container {
    width: 900px;
    text-align: center;
    margin: 15px auto;
    padding: 5px;
    border: 2px solid grey;
}

#header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 15px 20px;
    background-color: #282858;
    font-size: 20px;
    color: #FFFFFF;
}

h1, h2 {
    text-align: center;
}

#hr {
    width:100%;
    text-align:center;
}

#sphr {
    display:inline-block;
    width:100%;
    height:1px;
    background-color:#ffffff;
    margin-top:10px;
}

html {
    background-color: lightgreen;
    font-size: large;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
  
footer {
    margin-top: auto;
}

#volver {
    margin-top: 20px;
    margin-left: 8px;
    display: flex;
    border: 1px solid black;
    background-color: cadetblue;
    border-radius: 5px;
    padding: 3px;
    color: black;
    text-decoration: none;
    position: fixed;
    z-index: 9999;
    cursor: pointer;
    top: 35px;
}

.imagenes {
    float: right;
    width: 400px;
}

.imagenes img {
    width: 100px;
    height: 100px;
    float: right;
    padding: 10px;
    background-color: black;
    border: 1px solid white;
}

.text {
    clear: both;
}