body {
  margin: 0;
  padding: 40px 0 0 0;
  background-color: burlywood;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 20px;
  background-color: #282858;
  font-size: 20px;
  color: #FFFFFF;
}

#volver {
  margin-top: 20px;
  margin-left: 8px;
  display: flex;
  border: 1px solid black;
  background-color: cadetblue;
  border-radius: 5px;
  padding: 3px;
  color: black;
  text-decoration: none;
  position: fixed;
  z-index: 9999;
  cursor: pointer;
}

h2, h3 {
  text-align: center;
}

footer {
  margin-bottom: 3px;
}
.footerText {
  padding-left:10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  margin: 0 auto;
  width: 628px;
  border: 1px solid black;
}

img {
  width: 200px;
  height: 200px;
  border: 2px solid black;
  transition: border-color 0.3s ease-in-out, z-index 0.3s ease-in-out;
}

img:hover {
  border-color: rgb(58, 219, 9);
  z-index: 1;
}

img:hover ~ img {
  opacity: 0;
  pointer-events: none;
}

img:nth-child(1) {
  margin-top: 5px;
  margin-left: 5px;
}

img:nth-child(2) {
  margin-left: 105px;
  margin-top: -105px;
}

img:nth-child(3) {
  margin-left: 210px;
  margin-top: -100px;
}

img:nth-child(4) {
  margin-left: 315px;
  margin-top: -100px;
}

img:nth-child(5) {
  margin-left: 420px;
  margin-top: -100px;
  margin-bottom: 5px;
}