body {
    margin: 0;
    padding: 40px 0 0 0;
    background-color: rgb(227, 193, 255);
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 20px;
    background-color: #282858;
    font-size: 20px;
    color: #FFFFFF;
}

#volver {
    margin-top: 20px;
    margin-left: 8px;
    display: flex;
    border: 1px solid black;
    background-color: cadetblue;
    border-radius: 5px;
    padding: 3px;
    color: black;
    text-decoration: none;
    position: fixed;
    z-index: 9999;
    cursor: pointer;
}

footer {
    margin-bottom:3px;
}
.footerText {
    padding-left:10px;
}

h2, h3 {
    text-align: center;
}

.tipos-doc {
    font-size: 15px;
    font-family: serif;
    font: bold;
}

.links {
    margin-left: 30px; 
    white-space: nowrap;
}
  
.ico-pdf { 
    background-image: url("../resources/ejercicio3/icono-PDF.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center; 
}

.ico-img {
    background-image: url("../resources/ejercicio3/icono-JPG.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center; 
}

.ico-doc {
    background-image: url("../resources/ejercicio3/icono-DOCX.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center; 
}

.ico-xls {
    background-image: url("../resources/ejercicio3/icono-XLSX.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center; 
}

.ico-ppt {
    background-image: url("../resources/ejercicio3/icono-PPT.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center; 
}