body {
    margin: 0;
    padding: 40px 0 0 0;
    background-color: silver;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 20px;
    background-color: #282858;
    font-size: 20px;
    color: #FFFFFF;
}

#volver {
    margin-top: 20px;
    margin-left: 8px;
    display: flex;
    border: 1px solid black;
    background-color: cadetblue;
    border-radius: 5px;
    padding: 3px;
    color: black;
    text-decoration: none;
    position: fixed;
    z-index: 9999;
    cursor: pointer;
}

p:nth-child(odd) {
    border: 1px solid black;
    margin: 20px;
    padding: 15px 10px;
    font-family: Courier;
    text-align: right;
    overflow: hidden;
}

p::first-letter {
    font-weight: bold;
    font-size: xx-large;
    border: 1px solid black;
    /* margin-bottom: 7px; */
    padding: 1px 0.5px;
}

p:nth-child(even) {
    border: 1px solid red;
    margin: 20px;
    padding: 15px 10px;
    text-align: left;
    overflow: hidden;
    font-family: Arial;
}

h2, h3 {
    text-align: center;
}

.image {
    width: 100px;
    height: 100px;
    margin: 10px;
    padding: 9px 5px;
    float: right;
    background-color: darkslategray;
    clear: both;
}

footer {
    margin-bottom: 3px;
}
.footerText {
    padding-left: 10px;
}
