body {
    margin: 0;
    padding: 40px 0 0 0;
    background-color: cornsilk;
}

#header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 20px;
    background-color: #282858;
    font-size: 20px;
    color: #FFFFFF;
}

#ejercicios {
    padding: 20px;
    text-align: center;
}
.ejSeparator {
    border-right:2px solid #5f656d;
    height:1px;
    padding-inline: 16px;
}

h2, h3 {
    text-align: center;
}

.photo {
    width: 50px;
    height: 50px;
    margin: 20px;
    display: flex;
}

footer {
    margin-bottom: 3px;
}
.footerText {
    padding-left: 10px;
}

.centered{
    text-align: center;
    padding: 10px 0px;
}
#logo {
    width: 200px;
    height: 200px;
    text-align: center;
    display: block;
    margin: auto
}

.lidot {
    display: inline-block;
    text-align: left;
}